<!DOCTYPE html>
<html lang="en">

    <head>
      <meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>Shadow Page</title>
    	<link rel="stylesheet" type="text/css" href="static/css/style.css" />
    </head>

    <body>

        <header>
			<div>
				<h2>{{ es_error }}</h2>
			</div>
        </header>

		<section>
				<div class="main">
					<img src="static/images/Shadow.png" alt="Shadow">
					<form class="main_searchBx" action="{{ url_for('index') }}">
						<div class="searchBx">
							<input type="search" name="q" class="query" aria-label="Search" placeholder="Search...">
							<div class="icons">
								<div><img src="static/images/search.png" alt=""></div>
							</div>
						</div>
					</form>
				</div>
		</section>

		<script type="text/javascript">
			let query = document.querySelector('.query');
			let searchBtn = document.querySelector('.searchBtn');
			searchBtn.onclick = function() {
				let url ='https://www.google.fr/search?q='+query.value;
				window.open(url, '_self');
			}
		</script>

        <footer>
        </footer>

    </body>
</html>
