<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>Shadow Search</title>
    	<link rel="stylesheet" type="text/css" href="static/css/style.css" />
    </head>
    <body>

        {% if response %}
            {% for elementhitshits in response["hits"]["hits"] %}
                <p>Nom : {{ elementlisthits["_source"]["nom"] }}</p>
                <p>Ville : {{ elementlisthits["_source"]["ville"] }}</p>
            {% endfor %}
        {% endif %}

    </body>
</html>
